#para {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    font-family: 'Mogra', cursive;
    font-family: 'Shadows Into Light', cursive;
    border: 5px solid black;
    margin: 0%;
    background-color: yellow;
}
#img {
    background-color: rgb(0, 0, 0);
    border: 10px solid black;
    margin-left: 220px; 
    border: 5px solid;  
}
body {
    background-color: aqua;
}
